html{
    background-color: var(--html-back);
}
.page {
    width: 80%;
    margin: 0 auto;
}

.page__title {
    color: var(--title_text_color);
}

.page__paragraph {
    color: var(--p_text_color);
}

.page__block {
    width: 200px;
    height: 200px;
    border: 5px solid var(--block-border);
    background-color: var(--block-back);
    color: white;
    font-size: 30px;
    font-family: Aharoni, Arial, sans-serif;
}
